
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth; /*para que el scroll hasta la seccion sea suave*/
    box-sizing: border-box;
}

html{
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    max-width: 1600px;
    margin: auto;
}

/* PARA QUE LAS SECCIONES OCUPEN PANTALLA COMPLETA (100vh DE ALTO):
section{
    min-height: 100vh;
} */

#services,
#portfolio{
    background-color: rgb(224, 224, 224);
}

#contact{
    background-color: rgb(245, 181, 21);
}

.tituloseccion{
    display: inline-flex;
    justify-content: center;   /* POR QUE NO ME SALE CENTRARLO?*/
    background-color: rgb(245, 181, 21);
    font-size: 12px;
    font-weight: 900;
    padding: 3px 6px;
    margin: 20px auto;
}

.subtituloseccion{
    font-weight: 900;
    justify-content:center;
    text-align: center;
    }


/*NAVEGADOR*/

nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    }

h3{
    display: inline-flex;
}

h4{
    font-size: 20px;
    margin: 15px auto;
}

h5{
    font-size: 17px;
}

h6{
    font-size: 14px;
    font-weight: 600;
}

.mayuscula{
    text-transform:uppercase;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}

li{
    font-weight: 600;
    margin-left: 10px;
}

a{
    text-decoration: none;
    }

#iconosredes{
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
    }

.fa-twitter,
.fa-instagram{
    margin-left: 10px;
}


/*SECCION 1 - HOME*/

h1{
    font-size: 55px;
    display: inline-flex;
    }

h2{
    margin-top: 20px;
    font-weight: 200;
    }

#home{
    background-color: rgb(245, 181, 21);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
}

.presentacion{
    width: 500px;
    display: inline;
    flex-direction: column;
    margin-top: 10px;
}

.linea1{
    display: inline-flex;
    
}

#linea1{
    width:8px;
    height: 50px;
    border:0px;
    background-color: rgba(201, 169, 28, 0.877);
    align-items:center;
    margin-left: 7px;
    /* COLOCARLA ALINEADA A LA PALABRA */
}

.basedin{
    font-size: 17px;
    font-weight: 300;
}

.boton{
    background-color:rgb(61, 61, 61) ;
    border: 0px ;
    border-radius: 2px;
    padding: 10px;
    color: aliceblue;
    font-family:'Roboto', sans-serif; /*POR QUE NO SE ME PONE LA FONT FAMILY??*/
    margin-top: 10px;
}

a{
    color:rgb(61, 60, 60);
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

#fotoperfil{
    width:300px;
    height: 300px;
    border-radius:50%;
    border:8px solid white;
    }


/*SECTION 2 - ABOUT ME*/

/* #about{
    display: flex;
    justify-content: center;
} */

.cajas-datos{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.datos{
    padding: 20px 50px;
}

.bold{
    font-weight: 700;
}

.cajas-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hi-im{
    width: 745px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px 50px 20px 0;
    padding-right: 20px;
}

.subrayado{
    text-decoration: underline rgb(245, 181, 21) 3px;
}

.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

.circulo{
    width: 70px;
    height: 70px;
    background-color: rgb(245, 181, 21);
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 6.2em;
    font-weight: 700;
    margin-bottom: 10px;
}


/* SECTION SERVICES/WHAT I DO*/

/* #services{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.icono-amarillo{
    font-size: xx-large;
    color: rgb(245, 181, 21);
    }

.justificado{
    text-align: justify;
}

.contenedor_servicios{
    display: inline-flex;
    justify-content: center; /* CENTRADO??? */
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.servicios{
    width: 300px;
    text-align:center;
    margin: 40px 50px;
    }
    

/* SECTION RESUME*/
.linea2{
    height: 250px;
    width: 2px;
    background-color: rgb(245, 181, 21);
    border: 0px;
    margin: 0 15px;
    }

.caja-resume{
    display: flex;

}


/* SECTION PORTFOLIO*/

/* #portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.contenedor-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin: 20px auto;
}

.img-portfolio{
    height: 150px; 
    margin: 10px 10px;
               
}

.objectfit > img{       /* COMO LAS CORTO MAS CENTRADAS??*/
    width: 250px;
	height: 250px;
	object-fit: cover;
}




#contact{
    display: flex;
    justify-content: center;
}

.caja-contact{
    width: 600px;
    margin: 20px 20px;
}

